.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outerWrapperSmall{
  display: flex;
  line-height: 1.4;
  flex-direction: row;
  height: 160px;
  min-width: 360px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(33, 36, 50, 0.13);
}

.innerWrapperSmall{
  overflow: hidden;
  padding-bottom: 100%;
  height:0;
  width: 100%;
}

.imgWrapperSmall{
  overflow: hidden;
  flex: 1;
  width: 100%;
  display: flex;
  height: 160px;
  align-items: center;
}

.image{
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  overflow: hidden;
  padding-bottom: 100%;
}

.textWrapperSmall{
  flex:2;
  width: max-content;
  overflow: hidden;
  text-align: left;
  padding: 10px;
  height: 140px;
  font-size: 10px;
}

.wrapperLarge{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  line-height: 1.4;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(33, 36, 50, 0.13);
  padding: 10px;
}

.imgWrapperLarge{
  height: 80%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.textWrapperLarge{
  text-overflow: ellipsis;
  overflow: clip;
  width: 100%;
  line-height: 1.4;
  color: #000;
  font-size: 13px;
}

.textAlignLeft{
  text-align: left;
}

.siteNameLinkWrapper{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 2.8em;
  color: #000;
  font-weight: 700;
  margin-bottom: .5em;
}



@media (min-width: 360px){
  .siteNameLinkWrapper{
    font-size: 14px;
  }
  .responsiveVideo{
    min-height: 202px;
  }
}

@media (min-width: 460px){
  .textWrapperLarge {
    font-size: 14px;
  }
  .textWrapperSmall {
    font-size: 12px;
  }
  .siteNameLinkWrapper{
    font-size: 15px;
  }
  .wrapperLarge{
    max-width: 400px;
  }
  .outerWrapperSmall{
    min-width: 360px;
    width: 360px;
  }
  .responsiveVideo{
    min-height: 258px;
  }
}

@media (min-width: 600px){
  .textWrapperLarge {
    font-size: 15px;
  }
  .textWrapperSmall {
    font-size: 13px;
  }
  .siteNameLinkWrapper{
    font-size: 17px;
  }
  .outerWrapperSmall{
    min-width: 600px;
    width: 600px;
  }
  .responsiveVideo{
    min-height: 337px;
  }
}



.responsiveImage{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.responsiveVideo{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.coloredStar{
  color: orange;
}

.greyText{
  color: gray;
}

.priceText{
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  font-size: large;
  font-weight: 600;
}

/*Social Media Preview Styles Below*/

/*X ( Twitter )*/
.x-link-preview {
  box-shadow: 0 10px 25px 0 rgba(33, 36, 50, 0.13);
  border-radius: 16px;
  position: relative;
  width: 516px;
  height: 270px;
  overflow: hidden;
}

.x-link-preview img {
  width: 100%;
  height: 100%;
  display: block;
}

.x-link-preview .url-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .x-link-preview {
    width: 400px;
    height: 208px;
  }

  .x-link-preview .url-overlay {
    padding: 1px;
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  .x-link-preview {
    width: 300px;
    height: 156px;
  }
}

/*Y ( Facebook )*/
.facebook-link-preview {
  position: relative;
  max-width: 520px;
}



.facebook-link-preview_description {
  background: #f2f3f5;
  border: 1px solid #dddfe2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 12px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.facebook-link-preview_description p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .facebook-link-preview {
    max-width: 358px;
  }
}

@media (max-width: 380px) {
  .facebook-link-preview {
    max-width: 300px;
  }
}

/* ( LinkedIn )*/

.linkedin-link-preview {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
  transition: box-shadow 83ms;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  max-width: 520px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.linkedin-link-preview_image {
  display: block;
  height: 270px;
  object-fit: contain;
  width: 520px;
}

.linkedin-link-preview_description {
  padding: 10px;
  width: 500px;
}

.linkedin-link-preview_description p {
  margin: 0;
}

.linkedin-link-preview_title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, .9);
  padding-bottom: 2px;
}

.linkedin-link-preview_url {
  font-size: 12px;
  line-height: 1.43;
  color: rgba(0, 0, 0, .6);
  padding-bottom: 2px;
}

@media (max-width: 600px) {
  .linkedin-link-preview_image {
    height: 186px;
    width: 358px;
  }

  .linkedin-link-preview_description {
    width: 339px;
  }
}

@media (max-width: 320px) {
  .linkedin-link-preview_image {
    height: 186px;
    width: 260px;
  }
}
